<script
  src="https://cdn.jsdelivr.net/gh/logspace-ai/langflow-embedded-chat@v1.0.7/dist/build/static/js/bundle.min.js">
</script>

<style>
  langflow-chat {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }
</style>

<langflow-chat
    window_title="Asistente IAQ"
    online_message="Estoy para ayudarte!"
    flow_id="365ceac7-0911-4c0b-9b48-15bb32820263"
    host_url="https://agents.augetec.com"
    chat_position="top-left"
    width="300px"
    height="560px"
    api_key="sk-n9EE_mp8-BhKU8LncLzvxAy4snwlHc8ilZ3Sbs0g30M">
</langflow-chat>
    